<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue! </h1>
      <p>La liste des potins arrive bientôt. En attendant, <a href="/gossips/new/">créez un nouveau potin</a></p>   
  </body>
</html>